@use "../../../../styles/variables" as *;

.theme-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  background: transparent;
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  cursor: pointer;
  transition: all var(--transition) ease;
  color: var(--accent-color);

  &:hover {
    background: var(--button-inverted-hover);
    transform: rotate(20deg);
  }

  &:active {
    transform: scale(0.95) rotate(20deg);
  }

  .icon {
    width: 20px;
    height: 20px;
    transition: transform var(--transition) ease;
  }
}
