<div class="gt-survey-card-skeleton">
  <span class="gt-survey-card-skeleton__badge"></span>

  <div class="gt-survey-card-skeleton__bottom">
    <span class="gt-survey-card-skeleton__line gt-survey-card-skeleton__line--title"></span>
    <span class="gt-survey-card-skeleton__line gt-survey-card-skeleton__line--subtitle"></span>
    <div class="gt-survey-card-skeleton__meta">
      <span class="gt-survey-card-skeleton__line gt-survey-card-skeleton__line--meta"></span>
      <span class="gt-survey-card-skeleton__line gt-survey-card-skeleton__line--meta"></span>
    </div>
  </div>
</div>
