@use "../../../../styles/variables" as *;

.form__error {
  margin-bottom: 24px;
}

.gt-enter-verification-code-form {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__button {
    margin-top: 32px;
  }

  &__resend-button,
  &__resend-timer {
    margin-top: 4px;
  }

  &__resend-button {
    text-decoration: underline;
    cursor: pointer;
    color: var(--link-color);
    border: none;
    background: none;
    font-weight: 700;

    &:hover {
      text-decoration: none;
    }
  }

  &__description {
    margin-bottom: 16px;
  }

  &__code-message {
    margin-top: 48px;
    padding: 24px;
    background-color: var(--warning-bg);
    border-radius: 24px;

    &--title {
      margin-bottom: 8px;
    }
  }

  &__code-actions {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}

@media screen and (max-width: 475px) {
  .gt-enter-verification-code-form__code-actions {
    flex-direction: column;
    align-items: flex-start;
  }
}
