.gt-update-user-password-form {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__bottom {
    display: flex;
    justify-content: end;
    margin-top: 16px;

    .button {
      padding: 8px 16px;
    }
  }
}
