<div class="gt-user-profile__content gt-user-profile__content--password">
  <div class="gt-update-user-password-form">
    <form [formGroup]="updateUserPasswordForm" (ngSubmit)="onSubmit()">
      <div class="gt-update-user-password-form__content">
        <div class="gt-input__full">
          <gt-input-password
            label="Old Password"
            placeholder="Enter your old password"
            name="oldPassword"
            formControlName="oldPassword"
            [parentForm]="updateUserPasswordForm"
            [isRegistrationPassword]="false"
            [isRegistrationConfirmPassword]="false"
            [isLoginPassword]="true"
          >
          </gt-input-password>
        </div>
        <div class="gt-input__full">
          <gt-input-password
            label="New Password"
            placeholder="Enter your new password"
            name="newPassword"
            formControlName="newPassword"
            [parentForm]="updateUserPasswordForm"
            [isRegistrationPassword]="true"
            [isRegistrationConfirmPassword]="false"
            [isLoginPassword]="false"
          >
          </gt-input-password>
        </div>
        <div class="gt-input__full">
          <gt-input-password
            label="Confirm New Password"
            placeholder="Confirm new password"
            name="confirmPassword"
            formControlName="confirmPassword"
            [parentForm]="updateUserPasswordForm"
            [isRegistrationPassword]="false"
            [isRegistrationConfirmPassword]="true"
            [isLoginPassword]="false"
          >
          </gt-input-password>
        </div>

        <div class="gt-update-user-password-form__bottom">
          <button
            type="submit"
            [disabled]="updateUserPasswordForm.invalid"
            class="gt-update-user-password-form__button button button__filled button__fit-content"
          >
            {{ buttonText.SaveChanges }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
