<div class="gt-input-password" [class.gt-input-password--invalid]="isTouchedAndInvalid()">
  <div class="gt-input-password__header">
    <label class="gt-input__label">{{ label() }}</label>
    @if (isRegistrationPassword()) {
      <span class="gt-input-password__meter" [ngClass]="getMeterClass()"></span>
    }
  </div>

<p-password
  [ngModel]="value"
  (ngModelChange)="onInput($event)"
  (onBlur)="onBlur()"
  [placeholder]="placeholder()"
  autocomplete="off"
  [feedback]="false"
  [toggleMask]="hasValue()"
  [ngClass]="{
    'p-invalid': isTouchedAndInvalid(),
    'ng-invalid': isTouchedAndInvalid(),
    'ng-dirty': isTouchedAndInvalid()
  }"
>
</p-password>
  @if (isRegistrationPassword()) {
    <ul class="gt-input-password__footer password-requirements-static">
      <li 
        [class.valid]="hasUppercase()" 
        [class.invalid]="isTouchedAndInvalid() && !hasUppercase()" 
        class="gt-input__description p-12">
        At least one uppercase letter required
      </li>
      <li 
        [class.valid]="hasLowercase()" 
        [class.invalid]="isTouchedAndInvalid() && !hasLowercase()" 
        class="gt-input__description p-12">
        At least one lowercase letter required
      </li>
      <li 
        [class.valid]="hasNumber()" 
        [class.invalid]="isTouchedAndInvalid() && !hasNumber()" 
        class="gt-input__description p-12">
        At least one number required
      </li>
      <li 
        [class.valid]="hasSpecialChar()" 
        [class.invalid]="isTouchedAndInvalid() && !hasSpecialChar()" 
        class="gt-input__description p-12">
        At least one special character required
      </li>
      <li 
        [class.valid]="hasValidLength()" 
        [class.invalid]="isTouchedAndInvalid() && !hasValidLength()" 
        class="gt-input__description p-12">
        Password must be 8-16 characters long
      </li>
    </ul>
  }

  @if (isRegistrationConfirmPassword()) {
    <ul class="gt-input-password__footer password-requirements-static">
      <li [class.valid]="passwordsMatch()" [class.invalid]="isTouchedAndInvalid() && !passwordsMatch()" class="gt-input__description p-12">
        Confirm password must match new password
      </li>
    </ul>
  }

  @if (isLoginPassword() && isTouchedAndInvalid()) {
    <ul class="gt-input-password__footer password-requirements-static">
      <li class="gt-input__description p-12 invalid">
        Old Password is required.
      </li>
    </ul>
  }
</div>
