<div
  class="gt-header-role"
  [class.gt-header-role--has-bg]="backgroundImage()"
  [style.background-image]="backgroundImage() ? 'url(' + backgroundImage() + ')' : ''"
>
  @if (backgroundImage()) {
    <div class="gt-header-role__bg-overlay"></div>
  }
  <div class="gt-header-role__content"
    [class.gt-header-role__content--left]="(backgroundImage() && !centered()) || leftLayout()"
    [class.gt-header-role__content--column-left]="columnLeft()"
    [class.gt-header-role__content--centered]="backgroundImage() && centered()"
  >
    <div [class]="(backgroundImage() || leftLayout() || columnLeft()) ? 'container' : ''">
      <div class="gt-header-role__text">
        <h1 class="gt-header-role__title">{{ title() }}</h1>
        @if (subtitle()) {
          <p class="gt-header-role__subtitle">{{ subtitle() }}</p>
        }
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
