<gt-header />
<div class="margin-top-header"></div>

<main class="gt-admin-stats">

  <gt-page-header-role
    title="Survey Statistics"
    subtitle="Overview of survey activity and test performance"
    backgroundImage="/assets/images/all_surveys_top.png"
    [leftLayout]="true" />

  <div class="container">

    <gt-tabs [tabs]="tabItems" [activeTab]="activeTab()" (tabChange)="setTab($any($event))" />

    @if (activeTab() === AdminTab.Surveys) {
      <gt-survey-stats />
    }

    @if (activeTab() === AdminTab.Tests) {
      <gt-test-stats />
    }

  </div>

</main>

<gt-footer />

