<div class="gt-user-profile__content">
  <form
    [formGroup]="enterVerificationCodeEmailForm"
    (ngSubmit)="onSubmit()"
    class="gt-enter-verification-code-email-form"
  >
 @if(sentEmail()){
    <div class="gt-enter-verification-code-email-form__top">
      <p class="p-14">
        The verification code has been sent to your email to {{sentEmail()}}.
        Please follow the instructions in the email.
      </p>
    </div>
    } @if(errorText().length > 0) {
    <div class="form__error">
      <p class="form__error-text p-14">{{ errorText() }}</p>
    </div>
    }
    <div class="gt-input__full">
      <gt-input
        [type]="inputType.Email"
        label="Verification Code"
        [parentForm]="enterVerificationCodeEmailForm"
        [isLoginForm]="false"
        class="gt-input"
        placeholder="Enter Verification Code"
        formControlName="verificationCode"
      >
      </gt-input>
      <div class="gt-enter-verification-code-email-form__code-actions">
        @if(currentCode() && currentCode().length > 0 && !isResendCodeClicked() &&
        !isSetCodeClicked()) {
        <button
          class="gt-enter-verification-code-email-form__resend-button p-12 form__link"
          (click)="setCode()"
        >
          Set Code
        </button>
        } @if(isCounterActive()) {
        <p class="p-12 gt-enter-verification-code-email-form__resend-timer">
          Not received yet? Resend code in {{ counter() }}s
        </p>
        } @else {
        <button
          class="gt-enter-verification-code-email-form__resend-button p-12 form__link"
          (click)="resendCode()"
          type="button"
        >
          Resend Code
        </button>
        }
      </div>
    </div>
    <div class="gt-enter-verification-code-email-form__bottom">
      <button
        class="button button__inverted button__fit-content gt-enter-verification-code-email-form__button"
        type="button"
        (click)="goBack()"
      >
        {{ buttonText.Back }}
      </button>
      <button
        class="button button__filled button__fit-content gt-enter-verification-code-email-form__button"
        type="submit"
        [disabled]="enterVerificationCodeEmailForm.invalid"
      >
        {{ buttonText.SaveChanges }}
      </button>
    </div>
  </form>
</div>

@if(currentCode() && currentCode().length > 0 && !isResendCodeClicked()){
<div class="gt-enter-verification-code-email-form__code-message">
  <p
    class="p-14__medium gt-enter-verification-code-email-form__code-message--title"
  >
    Verification Code Assistance
  </p>
  <p class="p-14">
    The verification code is available and can be inserted automatically. You
    can add it once to the input by clicking the
    <span class="p-14__medium">Set Code</span> button or paste it manually using
    <span class="p-14__medium">Ctrl + V/Command + V</span>.
  </p>
</div>
}
